@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* 2 different windows */
.chatOuterContainer {
  width:100%;
  display:flex;
  justify-content: center;
  margin:0 auto;
};

/* single message */
.messageSenderOther, .messageSenderMe, .messageText {
  font-family: 'Josefin Sans', 'Inter';
}

.justifyEnd {
  text-align:right;
}

.messageSenderOther {
  color: #F62681
}

.messageSenderMe {
  color: blue
}

.messageSenderMe, .messageSenderOther {
  font-family: 'Wallpoet', cursive;
  margin-bottom: 0;
  text-decoration: underline
}

.messageTime {
  font-size: 0.7rem;
  line-height: 0.3;
  font-family: monospace;
  color:grey;
}

.messageText {
  margin-top: 0;
}

/* input buttons */
.inputButtons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.inputButtons > .sendButton {
  margin-left: 2vw;
  padding-left: 4vw;
  padding-right: 4vw
}

.inputButtons > .speechButton {
  margin-left:1vw;
}

/* room users window */
.usersList > li {
  font-family: 'Wallpoet', cursive;
  font-size: 1rem
}

/* pm window */
.PMButton {
  display:flex;
  justify-content: center;
}

.videoButton {
  margin-right: 1vw;
}
